<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoTurismo</display-name>
  <welcome-file-list>
  	<welcome-file>BuscarNovosAtrativosController.do?verificador=2</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuarioController</display-name>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <servlet-class>controller.CadastrarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuarioController</servlet-name>
    <url-pattern>/CadastrarUsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarTodosUsuariosController</display-name>
    <servlet-name>BuscarTodosUsuariosController</servlet-name>
    <servlet-class>controller.BuscarTodosUsuariosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarTodosUsuariosController</servlet-name>
    <url-pattern>/BuscarTodosUsuariosController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogarUsuarioController</display-name>
    <servlet-name>LogarUsuarioController</servlet-name>
    <servlet-class>controller.LogarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogarUsuarioController</servlet-name>
    <url-pattern>/LogarUsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPontoTuristicoController</display-name>
    <servlet-name>CadastrarPontoTuristicoController</servlet-name>
    <servlet-class>controller.CadastrarPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPontoTuristicoController</servlet-name>
    <url-pattern>/CadastrarPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarEmpresaController</display-name>
    <servlet-name>CadastrarEmpresaController</servlet-name>
    <servlet-class>controller.CadastrarEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarEmpresaController</servlet-name>
    <url-pattern>/CadastrarEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarUsuarioController</display-name>
    <servlet-name>DeletarUsuarioController</servlet-name>
    <servlet-class>controller.DeletarUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarUsuarioController</servlet-name>
    <url-pattern>/DeletarUsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioPeloIdController</display-name>
    <servlet-name>BuscarUsuarioPeloIdController</servlet-name>
    <servlet-class>controller.BuscarUsuarioPeloIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioPeloIdController</servlet-name>
    <url-pattern>/BuscarUsuarioPeloIdController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioPelaIdadeController</display-name>
    <servlet-name>BuscarUsuarioPelaIdadeController</servlet-name>
    <servlet-class>controller.BuscarUsuarioPelaIdadeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioPelaIdadeController</servlet-name>
    <url-pattern>/BuscarUsuarioPelaIdadeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioPeloNomeController</display-name>
    <servlet-name>BuscarUsuarioPeloNomeController</servlet-name>
    <servlet-class>controller.BuscarUsuarioPeloNomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioPeloNomeController</servlet-name>
    <url-pattern>/BuscarUsuarioPeloNomeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarUsuarioPorParteDoNome</display-name>
    <servlet-name>BuscarUsuarioPorParteDoNome</servlet-name>
    <servlet-class>controller.BuscarUsuarioPorParteDoNome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarUsuarioPorParteDoNome</servlet-name>
    <url-pattern>/BuscarUsuarioPorParteDoNome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarDadosUsuarioController</display-name>
    <servlet-name>AlterarDadosUsuarioController</servlet-name>
    <servlet-class>controller.AlterarDadosUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarDadosUsuarioController</servlet-name>
    <url-pattern>/AlterarDadosUsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarLivroController</display-name>
    <servlet-name>CadastrarLivroController</servlet-name>
    <servlet-class>controller.CadastrarLivroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarLivroController</servlet-name>
    <url-pattern>/CadastrarLivroController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUsuarioController</display-name>
    <servlet-name>LogoutUsuarioController</servlet-name>
    <servlet-class>controller.LogoutUsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUsuarioController</servlet-name>
    <url-pattern>/LogoutUsuarioController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarDadosUsuarioPeloAdministradorController</display-name>
    <servlet-name>BuscarDadosUsuarioPeloAdministradorController</servlet-name>
    <servlet-class>controller.BuscarDadosUsuarioPeloAdministradorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarDadosUsuarioPeloAdministradorController</servlet-name>
    <url-pattern>/BuscarDadosUsuarioPeloAdministradorController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>buscarImagemTeste</display-name>
    <servlet-name>buscarImagemTeste</servlet-name>
    <servlet-class>controller.buscarImagemTeste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buscarImagemTeste</servlet-name>
    <url-pattern>/buscarImagemTeste.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileController</display-name>
    <servlet-name>UploadFileController</servlet-name>
    <servlet-class>controller.UploadFileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileController</servlet-name>
    <url-pattern>/UploadFileController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarImagemController</display-name>
    <servlet-name>CadastrarImagemController</servlet-name>
    <servlet-class>controller.CadastrarImagemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarImagemController</servlet-name>
    <url-pattern>/CadastrarImagemController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarEmpresaPeloCnpj</display-name>
    <servlet-name>BuscarEmpresaPeloCnpj</servlet-name>
    <servlet-class>controller.BuscarEmpresaPeloCnpj</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarEmpresaPeloCnpj</servlet-name>
    <url-pattern>/BuscarEmpresaPeloCnpj.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarTodasEmpresasController</display-name>
    <servlet-name>BuscarTodasEmpresasController</servlet-name>
    <servlet-class>controller.BuscarTodasEmpresasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarTodasEmpresasController</servlet-name>
    <url-pattern>/BuscarTodasEmpresasController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarEmpresaPeloIdController</display-name>
    <servlet-name>BuscarEmpresaPeloIdController</servlet-name>
    <servlet-class>controller.BuscarEmpresaPeloIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarEmpresaPeloIdController</servlet-name>
    <url-pattern>/BuscarEmpresaPeloIdController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarEmpresaController</display-name>
    <servlet-name>DeletarEmpresaController</servlet-name>
    <servlet-class>controller.DeletarEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarEmpresaController</servlet-name>
    <url-pattern>/DeletarEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarDadosEmpresaController</display-name>
    <servlet-name>AlterarDadosEmpresaController</servlet-name>
    <servlet-class>controller.AlterarDadosEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarDadosEmpresaController</servlet-name>
    <url-pattern>/AlterarDadosEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarEmpresaPeloNomeController</display-name>
    <servlet-name>BuscarEmpresaPeloNomeController</servlet-name>
    <servlet-class>controller.BuscarEmpresaPeloNomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarEmpresaPeloNomeController</servlet-name>
    <url-pattern>/BuscarEmpresaPeloNomeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarEmpresaPorParteDoNome</display-name>
    <servlet-name>BuscarEmpresaPorParteDoNome</servlet-name>
    <servlet-class>controller.BuscarEmpresaPorParteDoNome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarEmpresaPorParteDoNome</servlet-name>
    <url-pattern>/BuscarEmpresaPorParteDoNome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFilePontoTuristicoController</display-name>
    <servlet-name>UploadFilePontoTuristicoController</servlet-name>
    <servlet-class>controller.UploadFilePontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFilePontoTuristicoController</servlet-name>
    <url-pattern>/UploadFilePontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPontoTuristicoPeloNomeController</display-name>
    <servlet-name>BuscarPontoTuristicoPeloNomeController</servlet-name>
    <servlet-class>controller.BuscarPontoTuristicoPeloNomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPontoTuristicoPeloNomeController</servlet-name>
    <url-pattern>/BuscarPontoTuristicoPeloNomeController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPontoTuristicoPeloIdController</display-name>
    <servlet-name>BuscarPontoTuristicoPeloIdController</servlet-name>
    <servlet-class>controller.BuscarPontoTuristicoPeloIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPontoTuristicoPeloIdController</servlet-name>
    <url-pattern>/BuscarPontoTuristicoPeloIdController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarTodosPontosTuristicosController</display-name>
    <servlet-name>BuscarTodosPontosTuristicosController</servlet-name>
    <servlet-class>controller.BuscarTodosPontosTuristicosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarTodosPontosTuristicosController</servlet-name>
    <url-pattern>/BuscarTodosPontosTuristicosController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarPontoTuristicoController</display-name>
    <servlet-name>DeletarPontoTuristicoController</servlet-name>
    <servlet-class>controller.DeletarPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarPontoTuristicoController</servlet-name>
    <url-pattern>/DeletarPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarDadosPontoTuristicoController</display-name>
    <servlet-name>AlterarDadosPontoTuristicoController</servlet-name>
    <servlet-class>controller.AlterarDadosPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarDadosPontoTuristicoController</servlet-name>
    <url-pattern>/AlterarDadosPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarPontoTuristicoPorParteDoNome</display-name>
    <servlet-name>BuscarPontoTuristicoPorParteDoNome</servlet-name>
    <servlet-class>controller.BuscarPontoTuristicoPorParteDoNome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarPontoTuristicoPorParteDoNome</servlet-name>
    <url-pattern>/BuscarPontoTuristicoPorParteDoNome.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarAtrativoPeloDistritoController</display-name>
    <servlet-name>BuscarAtrativoPeloDistritoController</servlet-name>
    <servlet-class>controller.BuscarAtrativoPeloDistritoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarAtrativoPeloDistritoController</servlet-name>
    <url-pattern>/BuscarAtrativoPeloDistritoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarComentarioEmpresaController</display-name>
    <servlet-name>CadastrarComentarioEmpresaController</servlet-name>
    <servlet-class>controller.CadastrarComentarioEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarComentarioEmpresaController</servlet-name>
    <url-pattern>/CadastrarComentarioEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarComentarioPontoTuristicoController</display-name>
    <servlet-name>CadastrarComentarioPontoTuristicoController</servlet-name>
    <servlet-class>controller.CadastrarComentarioPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarComentarioPontoTuristicoController</servlet-name>
    <url-pattern>/CadastrarComentarioPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarComentarioEmpresaController</display-name>
    <servlet-name>DeletarComentarioEmpresaController</servlet-name>
    <servlet-class>controller.DeletarComentarioEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarComentarioEmpresaController</servlet-name>
    <url-pattern>/DeletarComentarioEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarComentarioPontoTuristicoController</display-name>
    <servlet-name>DeletarComentarioPontoTuristicoController</servlet-name>
    <servlet-class>controller.DeletarComentarioPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarComentarioPontoTuristicoController</servlet-name>
    <url-pattern>/DeletarComentarioPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarComentarioEmpresaController</display-name>
    <servlet-name>AlterarComentarioEmpresaController</servlet-name>
    <servlet-class>controller.AlterarComentarioEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarComentarioEmpresaController</servlet-name>
    <url-pattern>/AlterarComentarioEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarComentarioPontoTuristicoController</display-name>
    <servlet-name>AlterarComentarioPontoTuristicoController</servlet-name>
    <servlet-class>controller.AlterarComentarioPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarComentarioPontoTuristicoController</servlet-name>
    <url-pattern>/AlterarComentarioPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPontuacaoEmpresaController</display-name>
    <servlet-name>CadastrarPontuacaoEmpresaController</servlet-name>
    <servlet-class>controller.CadastrarPontuacaoEmpresaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPontuacaoEmpresaController</servlet-name>
    <url-pattern>/CadastrarPontuacaoEmpresaController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarPontuacaoPontoTuristicoController</display-name>
    <servlet-name>CadastrarPontuacaoPontoTuristicoController</servlet-name>
    <servlet-class>controller.CadastrarPontuacaoPontoTuristicoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPontuacaoPontoTuristicoController</servlet-name>
    <url-pattern>/CadastrarPontuacaoPontoTuristicoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarNovosAtrativosController</display-name>
    <servlet-name>BuscarNovosAtrativosController</servlet-name>
    <servlet-class>controller.BuscarNovosAtrativosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarNovosAtrativosController</servlet-name>
    <url-pattern>/BuscarNovosAtrativosController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCircuitoController</display-name>
    <servlet-name>CadastrarCircuitoController</servlet-name>
    <servlet-class>controller.CadastrarCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCircuitoController</servlet-name>
    <url-pattern>/CadastrarCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverCircuitoController</display-name>
    <servlet-name>RemoverCircuitoController</servlet-name>
    <servlet-class>controller.RemoverCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverCircuitoController</servlet-name>
    <url-pattern>/RemoverCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdicionarTrajetoAoCircuitoController</display-name>
    <servlet-name>AdicionarTrajetoAoCircuitoController</servlet-name>
    <servlet-class>controller.AdicionarTrajetoAoCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdicionarTrajetoAoCircuitoController</servlet-name>
    <url-pattern>/AdicionarTrajetoAoCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarTodosCircuitosController</display-name>
    <servlet-name>BuscarTodosCircuitosController</servlet-name>
    <servlet-class>controller.BuscarTodosCircuitosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarTodosCircuitosController</servlet-name>
    <url-pattern>/BuscarTodosCircuitosController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarCircuitoPeloIdController</display-name>
    <servlet-name>BuscarCircuitoPeloIdController</servlet-name>
    <servlet-class>controller.BuscarCircuitoPeloIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarCircuitoPeloIdController</servlet-name>
    <url-pattern>/BuscarCircuitoPeloIdController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarCircuitoController</display-name>
    <servlet-name>DeletarCircuitoController</servlet-name>
    <servlet-class>controller.DeletarCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarCircuitoController</servlet-name>
    <url-pattern>/DeletarCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelecionarCircuitoController</display-name>
    <servlet-name>SelecionarCircuitoController</servlet-name>
    <servlet-class>controller.SelecionarCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelecionarCircuitoController</servlet-name>
    <url-pattern>/SelecionarCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletarTrajetoController</display-name>
    <servlet-name>DeletarTrajetoController</servlet-name>
    <servlet-class>controller.DeletarTrajetoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletarTrajetoController</servlet-name>
    <url-pattern>/DeletarTrajetoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarDadosCircuitoController</display-name>
    <servlet-name>AlterarDadosCircuitoController</servlet-name>
    <servlet-class>controller.AlterarDadosCircuitoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarDadosCircuitoController</servlet-name>
    <url-pattern>/AlterarDadosCircuitoController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarTodosAtrativosController</display-name>
    <servlet-name>BuscarTodosAtrativosController</servlet-name>
    <servlet-class>controller.BuscarTodosAtrativosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarTodosAtrativosController</servlet-name>
    <url-pattern>/BuscarTodosAtrativosController.do</url-pattern>
  </servlet-mapping>
</web-app>